<div style="display: flex;margin-left:1000px ; margin-top: 20px;">
    <button type="button" class="btn btn-danger" >Upload video </button>
    <div class="card">
        <div class="card-body">
            <label>
                <input type="file" class="button" (change)="detectFiles($event)">
            </label>
        </div>
    </div>
</div>


<ul  style="display: flex; gap: 20px;margin-top: 10px;flex-wrap: wrap;">
    <video width="320" height="240" controls>
        <source src="/assets/video.mp4" type="video/mp4">

        Your browser does not support the video tag.
      </video>
      <video width="320" height="240" controls>
        <source src="/assets/video.mp4" type="video/mp4">

        Your browser does not support the video tag.
      </video>
      <video width="320" height="240" controls>
        <source src="/assets/video.mp4" type="video/mp4">

        Your browser does not support the video tag.
      </video>
      <video width="320" height="240" controls>
        <source src="/assets/video.mp4" type="video/mp4">

        Your browser does not support the video tag.
      </video>

      <video width="320" height="240" controls>
        <source src="/assets/video.mp4" type="video/mp4">

        Your browser does not support the video tag.
      </video>     
      <video width="320" height="240" controls>
        <source src="/assets/video.mp4" type="video/mp4">

        Your browser does not support the video tag.
      </video>     
      <video width="320" height="240" controls>
        <source src="/assets/video.mp4" type="video/mp4">

        Your browser does not support the video tag.
      </video>     
      <video width="320" height="240" controls>
        <source src="/assets/video.mp4" type="video/mp4">

        Your browser does not support the video tag.
      </video>  
  </ul>