<h1 style="text-align: center;">Create an account</h1>
<div class="row">
	<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <span *ngIf="error" (click)="removeError()">{{ error }}</span>
		<form (ngSubmit)="onSignUp()" #f="ngForm" style="padding: 10px;">

            <div  class="form-group" style="padding: 10px; margin-left: 200px;" >
				<label for="email">Name</label>
				<input type="text" id="name" name="name" ngModel class="form-control">
			</div>
            <div  class="form-group" style="padding: 10px; margin-left: 200px;">
				<label for="email">Last Name</label>
				<input type="text" id="lastName" name="lastName" ngModel class="form-control">
			</div>
			
			<div  class="form-group" style="padding: 10px; margin-left: 200px;">
				<label for="email">Email</label>
				<input type="email" id="email" name="email" ngModel class="form-control" autocomplete="username email">
			</div>
			<div  class="form-group" style="padding: 10px; margin-left: 200px;">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" ngModel class="form-control" autocomplete="current-password">
			</div>
            <div  class="form-group" style="padding: 10px; margin-left: 200px;">
				<label for="password">Confirm Password</label>
				<input type="password" id="confirmPassword" name="confirmPassword" ngModel class="form-control" autocomplete="current-password">
			</div>
      <div class="form-group">
				<button class="btn btn-primary" style="margin-top: 10px;margin-left: 200px;" >Register</button>
			</div>
		</form>
    <button [routerLink]="'/sign-in'" class="btn btn-primary" style="margin-top: 10px;margin-left: 200px">Already have a account?</button>
	</div>
</div>
